packaging
requests[security,socks]
xmltodict
msgraph-sdk==1.6.0
azure-cli==2.67.0
azure-identity==1.19.0
azure-containerregistry==1.2.0
azure-mgmt-datafactory==9.0.0
azure-mgmt-managedservices==7.0.0b2
azure-mgmt-network==28.0.0
azure-mgmt-nspkg==3.0.2
azure-storage-blob==12.23.0b1
azure-keyvault==4.2.0
azure-mgmt-automation==1.1.0b4
azure-iot-hub==2.6.1;platform_machine=="x86_64"
azure-mgmt-notificationhubs==8.1.0b1
